/* Global */
:root {
  /* Font size */
  --font-large: 48px;
  --font-semi-large: 32px;
  --font-medium: 24px;
  --font-regular: 18px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bolder: 900;
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;
  --weight-small: 300;

  /* Color */
  --color-black: #212121;
  --color-white: #eaeaea;
  --color-white-dark: #e0e0e0;
  --color-grey-dark: #333333;
  --color-grey: #4f4f4f;
  --color-grey-light: #6d6d6d;
  --color-navbar: #3a3960;
  --color-navbar-hover: #1e1c52;
  --color-contact-hover: #272460;
  --color-light-navy: #7976bb;
  --color-dark-yellow: #ca9b52;
  --color-major-hover: #2d2996;
  --color-skills-background: #fbf5dd;
  --color-bar-value: #fbc02d;
  --color-project-background: #eeeeee;
  --color-project-btn: #bdbdbd;
  --color-contactLink-hover: #42a5f5;
  --color-contact-background: #2d2c2a;

  /* Margin */
  --margin-micro: 3px;
  --margin-small: 6px;
  --margin-regular: 8px;
  --margin-medium: 24px;
  --margin-large: 72px;
  --margin-section: 100px;

  /* Padding */
  --padding-regular: 4px;
  --padding-medium: 8px;
  --padding-large: 16px;
  --padding-section: 50px;
  --padding-section-mobile: 35px;

  /* Size */
  --size-logo: 24px;
  --size-border-radius: 4px;
  --size-avatar: 320px;
  --size-icon: 80px;
  --size-contact-link: 40px;
  --size-contact-link-mobile: 30px;
  --size-home-link: 65px;
  --size-home-link-mobile: 30px;
  /* Animation */
  --animation-duration: 300ms;
  --fadeIn-duration: 500ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
  padding: var(--padding-regular);
  margin: var(--margin-small) var(--margin-regular);
}

/* Element Common Set-up */

/* html */
html {
  padding: 0;
  margin: 0;
}

/* body */
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  padding: 0;
  margin: 0;
  cursor: default;
}

/* section */
section {
  margin: 0;
  padding: var(--margin-large) var(--padding-section);
  padding-bottom: 0;
  text-align: center;
}

.section,
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* nav */
nav {
  margin: 0;
  padding: var(--padding-regular) var(--padding-medium);
  padding-left: var(--padding-section);
}

span {
  display: inline-block;
}

/* ul */
ul {
  list-style: none;
}

li {
  margin: 0;
}

/* img */
img {
  margin: 0;
  padding: 0;
}

/* button */
button,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

/* a tag */
a:visited,
a:link {
  color: none;
  text-decoration: none;
}

/* scrollbar */
::-webkit-scrollbar {
  display: none;
}

.on-scrollbar::-webkit-scrollbar:vertical,
::-webkit-scrollbar:hover {
  display: block;
  position: absolute;
  right: 0;
  width: 16px;
}

.on-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 8px;
}
.on-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8d8d8d;
}

.on-scrollbar::-webkit-scrollbar-track {
  background-color: #efefef;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Animation Keyframes */
@keyframes Up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 0.9;
    transform: translateY(0);
  }
}

@keyframes navInOut__1 {
  from {
    background-color: transparent;
    opacity: 0;
    padding: var(--padding-regular) var(--padding-large);
    padding-left: var(--padding-section);
    transform: translateY(-10px);
  }

  to {
    background-color: var(--color-navbar);
    opacity: 0.9;
    padding-right: var(--padding-regular);
    padding-left: var(--padding-large);
    transform: translateY(0);
  }
}

@keyframes navInOut__2 {
  from {
    background-color: transparent;
    opacity: 0;
    padding: var(--padding-medium) var(--padding-regular);
    transform: translateY(-10px);
  }

  to {
    background-color: var(--color-navbar);
    opacity: 0.9;
    padding-right: var(--padding-regular);
    padding-left: var(--padding-large);
    transform: translateY(0);
  }
}

/* Navbar */

#navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  padding-left: var(--margin-medium);
}

#navbar.navbar--display {
  background-color: var(--color-navbar);
  opacity: 0.9;
  padding-right: var(--padding-regular);
  padding-left: var(--padding-medium);
  animation: navInOut__1 var(--animation-duration) ease-in-out;
}

/* Navbar Logo */
.navbar__logo {
  display: flex;
  margin: 0;
}

.navbar__logo i {
  margin: auto 0;
  padding-right: var(--padding-medium);
  font-size: var(--size-logo);
}

.navbar__logo a {
  margin: auto 0;
  color: var(--color-white);
}

/* Navbar Menu */
.navbar__menu {
  margin: 0;
  display: flex;
  cursor: pointer;
}

.navbar__menu__item {
  display: inline-block;
  font-size: var(--font-regular);
  padding: var(--padding-medium) var(--padding-large);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
  border: 2px solid transparent;
}

.navbar__menu__item.active {
  border: 2px solid var(--color-white);
  background-color: var(--color-navbar-hover);
  /* padding: 6px 14px; */
}

.navbar__menu__item:hover {
  border: 2px solid var(--color-white);
  /* padding: 6px 14px; */
  background-color: var(--color-navbar-hover);
}

/* Navbar Toggle Button */
.navbar__toggleBtn {
  position: absolute;
  margin: 0;
  padding: var(--padding-regular);
  color: var(--color-white);
  font-size: var(--size-logo);
  right: 12px;
  display: none;
}

.navbar__toggleBtn i {
  margin: 0;
}

.screen__fence {
  background-color: var(--color-black);
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0;
  opacity: 0.7;
  display: none;
}

.screen__fence.display {
  display: block;
  animation: screenFence var(--fadeIn-duration) ease-in-out;
}

@keyframes screenFence {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 0.7;
    transform: translateY(0);
  }
}

/* Home */
#home {
  background: url("./imgs/home-background.jpg") center/cover no-repeat;
  color: var(--color-white);
  padding: var(--margin-section) 0;
  padding-bottom: var(--margin-large);
}
.home__container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
/* Home Avatar */
img.home__avatar {
  width: var(--size-avatar);
  height: var(--size-avatar);
  border-radius: 50%;
  border: 2px solid var(--color-white);
  margin-top: 60px;
}

/* Home Typography */
.home__title,
.home__description,
.home__contact {
  color: rgb(255, 255, 255);
  font-weight: var(--weight-bold);
}

.home__description,
.home__contact {
  font-size: var(--font-semi-large);
}

/* Home Contact */
button.home__contact {
  width: 220px;
  height: 80px;
  padding: var(--padding-medium);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  position: relative;
  transform: translateY(20px);
}

button.home__contact:hover {
  background-color: var(--color-contact-hover);
}

.home__link {
  position: fixed;
  z-index: 2;
  color: var(--color-white);
  font-size: var(--size-home-link);
  background-color: var(--color-navbar);
  border-radius: 50%;
  right: 40px;
  bottom: 50px;
  visibility: hidden;
  pointer-events: none;
}

.home__link.active {
  visibility: visible;
  pointer-events: auto;
  background-color: var(--color-navbar);
  animation: Up var(--animation-duration) ease;
}

/* About */
#about {
  margin-top: var(--margin-medium);
  padding-bottom: var(--padding-section);
}
.about__title {
  font-weight: var(--weight-bolder);
}

.about__majors {
  margin-top: var(--margin-large);
  display: flex;
  justify-content: space-between;
}

/* About Major */
.major__icon {
  font-size: var(--size-icon);
  height: 160px;
  width: 160px;
  line-height: 160px;
  margin: auto;
  color: var(--color-light-navy);
  border: 1px solid var(--color-light-navy);
  border-radius: 50%;
  margin-bottom: var(--margin-medium);
}

.major__icon:hover i {
  color: var(--color-major-hover);
  transform: translateY(-5px) scale(1.2);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__title {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-grey-dark);
}

.major__description {
  font-size: var(--font-small);
  color: var(--color-grey-dark);
}

/* Skills */
#skills {
  margin-top: var(--margin-large);
  padding-bottom: var(--margin-section);
  background-color: var(--color-skills-background);
  color: var(--color-white);
  font-size: var(--font-regular);
}

.skills__description {
  margin: auto var(--margin-large);
}

.skillset {
  display: flex;
  width: 100%;
  margin: 0;
  padding: var(--padding-section) 0;
}

/* Skillset Left */
.skillset__left {
  margin: 0;
  padding: var(--padding-section);
  flex: 1 1 65%;
  background-color: var(--color-grey-dark);
}

.skill {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-medium);
}

.skill__description {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--margin-regular);
}
.skill__description span {
  margin: 0;
  padding: 0;
}

.skill__bar {
  margin: 0;
  padding: 1.5px 0;
  width: 100%;
  background-color: var(--color-grey-light);
  position: relative;
}

.bar__value {
  margin: 0;
  padding: 1.5px 0;
  background-color: var(--color-bar-value);
  position: absolute;
  left: 0;
  top: 0;
}

/* Skillset Right */
.skillset__right {
  margin: 0;
  padding: 0;
  flex: 1 1 35%;
}

.skillset__title {
  color: var(--color-white);
  font-size: var(--font-medium);
}

.skillset__right li {
  display: flex;
  font-size: 14px;
}

.skillset__right li .sub__title {
  color: #dfded6;
  font-size: 16px;
  font-weight: 700;
}

.skillset__right li span {
  margin: 0;
  text-align: left;
}

.skillset__right .libraries {
  margin: 0;
  padding: var(--padding-large);
  height: 70%;
  background-color: var(--color-grey);
}

.skillset__right .tools {
  margin: 0;
  /* padding: var(--padding-section) var(--padding-large); */
  background-color: var(--color-grey-light);
  height: 30%;
}

/* Work */
#work {
  padding: var(--padding-section) 0;
  padding-top: var(--padding-medium);
  margin-top: var(--margin-large);
  min-height: 790px;
  width: 100vw;
}

.work__subtitle {
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-medium);
}

/* Work Categories */
.work__categories {
  display: flex;
  justify-content: center;
}

.category__btn {
  margin: var(--margin-micro);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  border: 1px solid var(--color-project-btn);
  border-radius: var(--size-border-radius);
  padding: var(--padding-medium) var(--padding-section-mobile);
  box-shadow: 0 0.3px 1px var(--color-project-btn);
}

.category__btn.active,
.category__btn:hover {
  color: var(--color-white);
  background-color: #00bcd4;
}

.category__count {
  display: inline-block;
  visibility: hidden;
  margin: 0;
  padding: 0 var(--padding-regular);
  border-radius: 50%;
  background-color: var(--color-bar-value);
  color: var(--color-white);
  position: relative;
  /* Simple way when need just once
  transition: all var(--animation-duration) ease;
  top: 10px;
  opacity: 0; 
  */
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  visibility: visible;
  animation: Up var(--animation-duration) ease;
  /*  
  top:0;
  opacity:1; 
  */
}

/* Work Projects */
.work__projects {
  margin: 0 auto;
  padding: 0;
  max-width: 900px;
  margin-top: var(--margin-medium);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.work__projects.fadeOut {
  animation: fadeOutRight var(--fadeIn-duration) ease;
}

@keyframes fadeOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(30px);
  }
}

.project {
  width: 294px;
  height: 250px;
  background-color: var(--color-project-background);
  margin: var(--margin-micro);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  visibility: visible;
  animation: fadeInRight var(--animation-duration) ease-in;
}

@keyframes fadeInRight {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.project.fadeOut {
  animation: fadeOutRight var(--fadeIn-duration) ease-out;
}

.project.invisible {
  display: none;
}

.project__img {
  object-fit: fill;
  width: 250px;
  height: 230px;
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: var(--font-micro);
  top: 0;
  opacity: 0.9;
  display: none;
}

.project:hover .project__description {
  display: flex;
  animation: fadeIn var(--fadeIn-duration) ease;
}

.project__description h3 {
  color: var(--color-bar-value);
  font-size: var(--font-regular);
  position: relative;
  top: 100px;
  width: 100%;
}

.project__description h3::before {
  content: "";
  display: block;
  height: 1.5px;
  width: 55px;
  background-color: var(--color-white-dark);
  position: absolute;
  left: 0;
  top: 50%;
}

.project__description h3::after {
  content: "";
  display: block;
  height: 1.5px;
  width: 55px;
  background-color: var(--color-white-dark);
  position: absolute;
  right: 0;
  top: 50%;
}

.project__description span {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 140px;
}

/* Contact */
#contact {
  margin: 0;
  margin-top: var(--margin-section);
  padding: var(--padding-large);
  background-color: var(--color-contact-background);
}
#contact * {
  color: var(--color-white);
}

.contact__email {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.contact__links a {
  padding: 0;
  margin: 0;
}

.contact__links i {
  font-size: var(--size-contact-link);
  transition: all var(--animation-duration) ease;
  color: var(--color-white);
}

.contact__links i:hover {
  transform: translateY(-3px) scale(1.1);
  color: var(--color-contactLink-hover) !important;
}

.contact__copyright {
  color: var(--color-white-dark);
}

/* Responsive Design */

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  /* Typography */

  h1 {
    font-size: var(--font-semi-large);
  }

  h2 {
    font-size: var(--font-regular);
  }

  h3 {
    font-size: var(--font-small);
  }

  section {
    padding: var(--padding-section-mobile);
    padding-bottom: 0;
  }

  .section,
  .section__container {
    max-width: 600px;
  }

  /* Navbar */
  #navbar {
    z-index: 4;
    background-color: var(--color-navbar);
    padding: var(--padding-medium) var(--padding-regular);
    padding-left: var(--padding-large);
    flex-direction: column;
    align-items: flex-start;
  }

  #navbar i {
    font-size: 18px;
  }

  .navbar__logo {
    margin-left: var(--margin-micro);
  }

  .navbar__logo a {
    font-size: var(--font-regular);
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.display {
    display: flex;
    animation: Up2 var(--fadeIn-duration) ease-in-out;
  }

  @keyframes Up2 {
    from {
      opacity: 0;
      transform: translateY(5px);
    }

    to {
      opacity: 0.9;
      transform: translateY(0);
    }
  }

  .navbar__menu__item.active,
  .navbar__menu__item:hover {
    /* border: unset; */
    width: 80%;
  }

  .navbar__toggleBtn {
    display: block;
  }

  /* Home */
  #home {
    padding: var(--padding-section-mobile);
    padding-top: var(--padding-large);
  }

  #home .home__avatar {
    margin-top: var(--margin-large);
    width: 230px;
    height: 230px;
  }

  .home__description {
    font-size: var(--font-medium);
  }

  .home__contact {
    font-size: var(--font-medium);
  }

  /* About */
  #about {
    margin-top: var(--margin-medium);
    padding-bottom: 0;
  }
  .about__majors {
    flex-direction: column;
    margin-top: var(--margin-medium);
  }

  /* Skills */
  #skills {
    padding: var(--padding-section-mobile);
    margin-bottom: var(--margin-medium);
  }

  .skills__description {
    margin: var(--margin-regular);
  }

  .skillset {
    flex-direction: column;
    padding: var(--padding-large) 0;
  }

  /* Skillset Left */
  .skillset__left {
    padding: var(--padding-large);
  }
  .skillset__title {
    font-size: var(--font-regular);
  }

  .skill__description {
    font-size: var(--font-small);
  }

  .skill {
    margin-bottom: var(--margin-regular);
  }

  /* Skillset Right */
  .skillset__right .tools {
    padding: var(--padding-large);
  }

  .skillset__right li span {
    font-size: var(--font-small);
  }

  /* Work */
  #work.section {
    margin-top: var(--margin-medium);
    padding-top: var(--padding-large);
    padding-bottom: 0;
    max-width: 700px;
  }
  .work__categories {
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
  }

  button.category__btn {
    padding: var(--padding-medium) var(--padding-large);
  }

  .category__count {
    text-align: center;
  }

  .project {
    margin: var(--margin-small) var(--margin-micro);
  }

  /* Contact */
  .contact_title {
    font-size: var(--font-semi-large);
  }

  .contact__email {
    font-size: var(--font-medium);
  }

  .contact__links i {
    font-size: var(--size-contact-link-mobile);
  }

  .contact__copyright {
    font-size: var(--font-small);
  }
}

@media screen and (max-width: 600px) {
  .home__link {
    font-size: var(--size-home-link-mobile);
    right: 15px;
    bottom: 20px;
  }

  /* Work */
  .work__projects {
    margin-top: var(--margin-regular);
  }

  .work__categories {
    margin: var(--margin-medium) auto;
    min-width: 325px;
    flex-direction: column;
  }

  button.category__btn {
    width: 220px;
    margin: var(--margin-micro) auto;
  }

  .project {
    width: 80%;
    max-width: 350px;
    min-width: 285px;
  }

  .project__img {
    width: 95%;
  }
}
