/* Global */
:root {
  /* Font size */
  --font-large: 48px;
  --font-medium: 36px;
  --font-regular: 24px;
  --font-small: 16px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Color */
  --color-black: #212121;
  --color-white: #fafafa;
  --color-grey-dark: #424242;
  --color-grey: #616161;
  --color-grey-light: #8e8e8e;
  --color-navbar: #ff7043;
  --color-navbar-hover: #c63f17;
  --color-contact-hover: #ffb74d;

  /* Margin */
  --margin-small: 4px;
  --margin-regular: 8px;
  --margin-medium: 24px;
  --margin-large: 72px;

  /* Padding */
  --padding-regular: 4px;
  --padding-medium: 8px;
  --padding-large: 16px;

  /* Size */
  --size-logo: 35px;
  --size-border-radius: 4px;
  --size-avatar: 290px;
}

/* Universal tags */
* {
  box-sizing: border-box;
  padding: var(--padding-regular);
  margin: var(--margin-small) var(--margin-regular);
}

/* Element Set-up */

/* html */
html {
  padding: 0;
  margin: 0;
}

/* body */
body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  padding: 0;
  margin: 0;
  cursor: default;
}

/* Section */
nav,
section {
  margin: 0;
  padding: 0;
}

/* ul */
ul {
  list-style: none;
}

/* img */
img {
  padding: 0;
}

/* button */
button,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

/* a tag */
a:visited,
a:link {
  color: black;
  text-decoration: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}

.on-scrollbar::-webkit-scrollbar:vertical,
::-webkit-scrollbar:hover {
  display: block;
  width: 16px;
}

.on-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 8px;
}
.on-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8d8d8d;
}

.on-scrollbar::-webkit-scrollbar-track {
  background-color: #efefef;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-navbar);
  color: var(--color-white);
  font-size: var(--font-regular);
}

/* Navbar Logo */
.navbar__logo {
  display: flex;
}

.navbar__logo img {
  margin-right: 2px;
  width: var(--size-logo);
  height: var(--size-logo);
}

.navbar__logo a {
  margin-left: 0;
  margin-top: 1px;
  color: var(--color-white);
}

/* Navbar Menu */
.navbar__menu {
  display: flex;
  cursor: pointer;
}

.navbar__menu__item {
  font-size: var(--font-small);
  padding: var(--padding-medium);
  padding-top: var(--padding-regular);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 2px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-navbar-hover);
}

/* Home */
#home {
  background: url("/imgs/home-background.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: var(--color-white);
  padding: var(--margin-large) 0;
}

img.home__avatar {
  width: var(--size-avatar);
  height: var(--size-avatar);
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title,
.home__description,
.home__contact {
  color: var(--color-white);
  font-weight: var(--weight-bold);
}

button.home__contact {
  padding: var(--padding-medium);
  font-size: var(--font-regular);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

button.home__contact:hover {
  background-color: var(--color-contact-hover);
}
